.uploadOuter {
    text-align: center;
    padding: 20px;
}
.strong {
    padding: 0 10px
}
.dragBox {
    width: 250px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-weight: bold;
    line-height: 95px;
    color: #999;
    border: 2px dashed #ccc;
    display: inline-block;
    transition: transform 0.3s;
}
.draging {
    transform: scale(1.1);
}